@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


* {
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

:root {
    --text-color: #f2f2f2;
    --background-color: #191a1c;
    --card-color: #0b0c0d;
    --place-color: #2c2d2e; 
}

