@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


* {
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

:root {
    --text-color: #1E4B4B;
    --background-color: #EAEDED;
}

header {
  position: relative;
  height: 500px;
  background-color: #517867;
}

.banner {
  position: relative; 
  background-color: #517867;
  width: 100%; 
  height: 500px; 
  opacity: 0.2;
  background-image: url('./Assets/Banner-mobile.png'); 
  background-size: cover; 
}

.andrew-thomas-text {
  position: absolute;
  top: 0;
  background: none;
  color: #EAEDED;
  font-size: 1.2em;
  padding: 2em 1em 1em 1.3em;
  z-index: 10;
}

.intro-text {
  position: absolute;
  top: 0;
  margin-top: 2em;
  background: none;
  color: #EAEDED;
  font-size: 1.6em;
  font-weight: 600;
  padding: 1em;
  z-index: 10;
}

.headshot {
  position: relative;
  background: none;
  display: block;
  margin: auto;
  margin-top: -18em;
  margin-bottom: 2em;
  z-index: 10;
  width: 250px;
}

/* Contact form */

form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border-radius: 4px;
  box-shadow: none;
}

input, textarea {
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #d9d9d9;
  border: 2px solid transparent;
}

input:hover, textarea:hover {
  border: 2px solid var(--text-color);
}

.contact-heading {
  margin: 2em 0em 0em 0.6em;
}

label {
  margin-bottom: 1em;
  margin-top: 1em;
}

textarea {
  height: 200px;
  width: 100%;
  resize: vertical;
  margin-bottom: 1em;
  
}

.submit-btn {
  display: flex;
  width: auto;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  box-shadow: none;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}

.submit-btn:hover {
  border: none;
  background-color: #617a6a;
  color: var(--background-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #d9d9d9 inset;
  -webkit-text-fill-color: var(--text-color);
}

.contact-icon{
  fill: #d9d9d9;
  width: 150px; 
  display: flex;
  padding-bottom: 31em ;
  margin-right: 6em;
  margin-left: -15.5em; 
}



@media (max-width: 1100px) {
.contact-icon {
  display: none;
  }
}



@media (min-width: 670px) {
  .headshot {
    margin-left: 4em;
    margin-top: -23em;
  }

  .intro-text {
    margin-top: 5em;
    margin-left: 12em;
  }
}
@media (min-width: 684px) {
  .intro-text {
    margin-top: 6em;
    margin-left: 12em;
  }
}
@media (min-width: 907px) {
  .intro-text {
    margin-right: 15vw;
  }
}

@media (min-width: 1100px) {

  .contact-form-card {
    display: flex;
    justify-content: center;
  }
  form {
    width: 500px;
  }

  .banner {
    background-image: url('./Assets/Banner.png'); 
  }
  .intro-text {
    margin-top: 7em;
  }
}

@media (min-width: 1150px) {
  .intro-text {
    font-size: 2em;
    margin-top: 6em;
    margin-left: 16em;
  }

  .headshot {
    width: 350px;
    margin-left: 8em;
    margin-top: -28em;
  }

  header, .banner {
    height: 600px;
  }
}

  @media (min-width: 1919px) {
  .intro-text {
    font-size: 3em;
    margin-top: 4em;
    margin-left: 30vw;
    margin-right: 22vw;
  }
  .headshot {
    margin-left: 16em;
   
  }
}



@media (max-width: 440px) {
  header, .banner {
    height: 550px;
  }
}

@media (max-width: 376px) {
  header, .banner {
    height: 600px;
  }
}

@media (max-width: 318px) {
  header, .banner {
    height: 650px;
  }
}